<div class="bg-dark text-center p-5 text-light">
  <h2>Product Details : {{ productId }}</h2>
  <p class="lead fs-3">Price : <strong class="text-success">3000</strong></p>
  <p class="lead fs-5">Quantity : <strong class="text-danger">3000</strong></p>
  <div>
    <i class="text-warning mx-1 bi bi-star-fill"></i>
    <i class="text-warning mx-1 bi bi-star-fill"></i>
    <i class="text-warning mx-1 bi bi-star-fill"></i>
    <i class="text-warning mx-1 bi bi-star-fill"></i>
    <i class="text-warning mx-1 bi bi-star-fill"></i>
  </div>
  <button (click)="backToHome()" class="btn btn-outline-primary mt-5">
    Back To Products
  </button>
  <!-- <div class="myTest">test</div> -->
</div>
