<div class="p-5">
  <div class="container">
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Product Name</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Enter Product Name"
        />
        <div id="emailHelp" class="form-text text-danger">
          We'll never share your email with anyone else.
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label"> Price</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputPassword1"
          placeholder="Enter Product Price"
        />
        <div id="emailHelp" class="form-text text-danger">
          We'll never share your email with anyone else.
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label"> Quantity</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputPassword1"
          placeholder="Enter Product Quantity"
        />
        <div id="emailHelp" class="form-text text-danger">
          We'll never share your email with anyone else.
        </div>
      </div>

      <button type="submit" class="btn btn-dark">Add Product</button>
    </form>
  </div>
</div>
